<%-include("partials/header.ejs")%>
<div class="container" style="min-height:400px">
    <h1>
        Thanks <span style="color:green"><%=name%></span> for taking predictions from our platform.
    </h1>
    <h1>Your Prediction was <span style="color:green"><%=res%></span>.</h1>
    <h1>We recommend you to visit <span class="docRef" style="color:green"><%=doc%></span>.</h1>
</div>

<%-include("partials/footer.ejs")%>